.table {
    background-color: #ddd;
    height: 83vh;
    padding: 20px;
    border-radius: 4px;
    box-shadow: inset 2px 2px 6px #fff, 3px 3px 4px #000;
    overflow: scroll;
    .text-header {
        font-size: 1.5rem;
        font-family: sans-serif;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-weight: 200;
        border-bottom: 1px solid #000;
    }
    .add {
        background-color: orange;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        font-size: 1.2rem;
        margin-left: -20px;
        margin-bottom: 10px;
        box-shadow: inset 2px 2px 4px #fff,2px 2px 4px #000;
        cursor: pointer;
        &:hover {
            opacity: .7;
        }
    }
    table {
        width: 100%;
        height: auto;
        thead{
            tr {
                th {
                    padding: 8px;
                    font-size: 1.1rem;
                    font-family: sans-serif;
                    font-weight: 700;
                    background-color: darkblue;
                    color: #fff;
                }
            }
        }
        tbody {
            tr {
                td {
                    padding: 5px 10px;
                    text-align: center;
                    font-family: sans-serif;
                    &:nth-child(1) {
                        width: 400px;
                    }
                    &:nth-child(2) {
                        width: 400px;
                        background-color: lightgreen;
                    }
                    &:nth-child(4) {
                        width: 600px;
                        background-color: lightgreen;
                    }
                    &:nth-child(3) {
                        text-align: center;
                        display: flex;
                        justify-content: space-evenly;
                        .edit, .delete {
                            display: block;
                            padding: 5px;
                            background-color: blue;
                            font-size: 1.5rem;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #fff;
                            border: none;
                            cursor: pointer;
                            &:hover {
                                opacity: .3;
                            }
                        }
                        .delete {
                            background-color: red;
                        }
                    }
                }
            }
        }
    }
}