.dashboard {
    background-image: url('../../../../../assets/image/image_ecomerce.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    margin-top: 20px;
    border-radius: 4px;
    padding: 20px;
    box-shadow: inset 2px 2px 6px #fff, 3px 3px 4px #000;
    .text-header {
        background-color: #000;
        color: #fff;
        max-width: 600px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        font-weight: 100;
        text-transform: uppercase;
        margin-top: 50px;
        font-size: 3rem;
    }

}