.modal-box.toggle {
    transform: scale(1) rotate(360deg);
}
.modal-box {
    z-index: 9999;
    transform: scale(0);
    position: absolute;
    background-color: rgba($color: #000000, $alpha: 0.6);
    top: 95px;
    bottom: 40px;
    left: 295px;
    right: 30px;
    border-radius: 4px;
    transition: .7s;
    padding: 10px 20px;
    box-shadow: inset 2px 2px 6px #fff, 2px 2px 3px #000;
    .close {
        color: #fff;
        font-size: 1.7rem;
        position: absolute;
        right: 17px;
        top: 10px;
        cursor: pointer;
        transition: .7s;
    }
    h2 {
        color: #ccc;
        text-align: center;
        margin-top: 35px;
        font-family: sans-serif;
        font-size: 2.4rem;
        border-bottom: 1px solid #fff;
    }
    .modal-form {
        padding: 0 20px;
        padding-top: 50px;
        .form-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40vh;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;
            .row-1 .row, .row-2 .row {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 20px 0;  
                .image {
                    display: flex;
                    align-items: flex-end;
                    gap: 20px;
                }
                 .error {
                    color: #fff;
                    background-color: red;
                    margin-top: 10px;
                    padding: 5px;
                }  
                label {
                    font-size: 1.4rem;
                    font-family: sans-serif;
                    margin-bottom: 10px;
                    color: orange;
                    font-weight: 700;
                }
                input {
                    width: 400px;
                    padding: 5px 10px;
                    border: none;
                    outline: none;
                    font-size: 1.2rem;
                }
            }
        }
        form {
            .add-data {
                margin-left: 160px;
                margin-top: 80px;
                background-color: orange;
                padding: 10px 30px;
                width: 73%;
                border: none;
                box-shadow: 1px 1px 2px #fff;
                font-size: 1.2rem;
                color: #4a4a4a;
                font-weight: 700;
                font-family: sans-serif;
                border-radius: 4px;
                cursor: pointer;
                &:hover{
                    opacity: .7;
                }
            }
        }
       
    }
}
.data-table-product {
        z-index: -999;
        background-color: #ddd;
        height: 83vh;
        padding: 20px;
        border-radius: 4px;
        box-shadow: inset 2px 2px 6px #fff, 3px 3px 4px #000;
        .text-header {
            font-size: 1.5rem;
            font-family: sans-serif;
            text-transform: uppercase;
            margin-bottom: 20px;
            font-weight: 200;
            border-bottom: 1px solid #000;
        }
        table {
            width: 100%;
            height: auto;
            thead{
                tr {
                    th {
                        padding: 8px;
                        font-size: 1.1rem;
                        font-family: sans-serif;
                        font-weight: 700;
                        background-color: darkblue;
                        color: #fff;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        padding: 5px 10px;
                        text-align: center;
                        font-family: sans-serif;
                        &:nth-child(2) {
                            width: 400px;
                            background-color: lightgreen;
                        }
                        &:nth-child(4) {
                            background-color: lightgreen;
                        }
                        &:nth-child(6) {
                            background-color: lightgreen;
                        }
                        &:nth-child(7) {
                            text-align: center;
                            display: flex;
                            justify-content: space-evenly;
                            .edit, .delete {
                                background-color: blue;
                                font-size: 1.5rem;
                                border-radius: 50%;
                                width: 30%;
                                height: 30%;
                                color: #fff;
                                border: none;
                                cursor: pointer;
                                &:hover {
                                    opacity: .3;
                                }
                            }
                            .delete {
                                background-color: red;
                            }
                        }
                    }
                }
            }
        }
    }
